<template>
  <header
    class="bg-primary text-white"
  >
    <q-toolbar class="justify-start">
      <q-btn
        flat
        dense
        round
        icon="arrow_back"
        aria-label="Back"
        @click="$router.back()"
      />

      <q-toolbar-title class="grow-0">
        Add <code>{{ $route.params.type }}</code>
      </q-toolbar-title>

      <div>
        <q-chip v-if="identityStore.isAuthenticated">
          <q-avatar>
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
          <code>{{ identityStore.privKey?.substring(0,6) }}&hellip;</code>
        </q-chip>
      </div>
    </q-toolbar>

    <!-- <q-btn
      flat
      dense
      round
      icon="tick"
      aria-label="Done"
    /> -->
  </header>
</template>

<script setup lang="ts">
import { useIdentityStore } from 'src/stores/identity'

const identityStore = useIdentityStore()
</script>
