<template>
  <header
    class="bg-white text-primary"
  >
    <q-toolbar class="justify-between">
      <q-btn
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
      />

      <!-- <q-img
          class="h-4"
          src="/logo_full.png"
        /> -->
      <q-toolbar-title w:flex="grow-0 basis-auto">
        <!-- Paymints -->
        <img
          class="h-10"
          src="~assets/logo-full_small.png"
        >
      </q-toolbar-title>

      <!-- <div class="q-btn--dense q-btn--round"> -->
      <q-btn
        flat
        dense
        round
        aria-label="Account"
      >
        <q-avatar size="md">
          <!-- v-if="identityStore.isAuthenticated" -->
          <img src="https://cdn.quasar.dev/img/boy-avatar.png">
        </q-avatar>
      </q-btn>
    </q-toolbar>
  </header>
</template>

<script setup lang="ts">
import { useIdentityStore } from 'src/stores/identity'

const identityStore = useIdentityStore()
</script>
