<template>
  <q-page class="column items-center">
    <div
      class="q-pa-md"
      style="max-width: 400px"
    >
      <q-form
        class="q-gutter-md"
        @submit="onSubmit"
      >
        <q-input
          v-model="name"
          label="Who?"
          filled
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Enter a contact']"
        />

        <q-input
          v-model.number="amount"
          label="How much"
          filled
          mask="#.##"
          fill-mask
          reverse-fill-mask
          input-class="text-right"
          suffix="€"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Enter amount',
            val => val > 0 || 'Enter positive amount'
          ]"
        />

        <q-input
          v-model="date"
          filled
          mask="date"
          :rules="['date']"
        >
          <template #append>
            <q-icon
              name="event"
              class="cursor-pointer"
            >
              <q-popup-proxy
                ref="qDateProxy"
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="date">
                  <div class="row items-center justify-end">
                    <q-btn
                      v-close-popup
                      label="Close"
                      color="primary"
                      flat
                    />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-toggle
          :model-value="true"
          label="I accept the license and terms"
        />

        <div>
          <q-btn
            label="Submit"
            type="submit"
            color="primary"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script lang="ts" setup>
import { addDebt } from 'src/stores/debts'
import { Currency } from 'src/utils/CurrencyUtils'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { date as dateUtil } from 'quasar'

const props = defineProps<{
  type: 'iou',
}>()
if (props.type !== 'iou') throw new Error(`Invalid type: ${props.type}`)

const name = ref<string|null>(null)
const date = ref<string|null>(dateUtil.formatDate(Date.now(), 'YYYY/MM/DD'))
const amount = ref<number|null>(null)

const router = useRouter()

async function onSubmit () {
  if (!name.value) throw new Error('Missing name')
  if (!date.value) throw new Error('Missing date')
  if (!amount.value) throw new Error('Missing: amount')
  await addDebt({
    contact: name.value,
    date: dateUtil.extractDate(date.value, 'YYYY/MM/DD'),
    amount: Currency(amount.value).value, // TODO: comma vs dot locality browser - http://stackoverflow.com/questions/26890209/ddg#47676066
  })
  await router.push('/')
  // if (accept.value !== true) {
  //   $q.notify({
  //     color: 'red-5',
  //     textColor: 'white',
  //     icon: 'warning',
  //     message: 'You need to accept the license and terms first',
  //   })
  // } else {
  //   $q.notify({
  //     color: 'green-4',
  //     textColor: 'white',
  //     icon: 'cloud_done',
  //     message: 'Submitted',
  //   })
  // }
}
</script>
