<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page class="column items-center justify-center content-center">
        <q-img
          src="/logo.png"
          spinner-color="white"
          style="height: 150px; max-width: 150px"
        />
        <h1
          class="text-center q-mt-none max-w-screen"
          w:p="x-2 y-10"
        >
          Welcome to Paymints
        </h1>
        <!-- <q-card> -->
        <q-btn
          color="primary"
          size="large"
          :loading="!identityStore.initialized"
          @click="login()"
        >
          Login
        </q-btn>
        <!-- <q-inner-loading :showing="!identityStore.initialized">
            <div>
              <q-spinner-oval
                color="primary"
                size="2em"
              />
              <q-tooltip :offset="[0, 8]">
                Loading app
              </q-tooltip>
            </div>
          </q-inner-loading> -->
        <!-- </q-card> -->
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<!-- <script lang="ts">
import { defineComponent } from 'vue'
import { openlogin, doOpenLogin } from 'src/identity/web3auth'

export default defineComponent({
  preFetch ({ redirect }) {
    if (openlogin.privKey) {
      console.log('aready logged in - redirecting to /')
      redirect('/')
    }
  }
})
</script> -->

<script lang="ts" setup>
import { useIdentityStore } from 'src/stores/identity'
import { useRouter } from 'vue-router'

const router = useRouter()
const identityStore = useIdentityStore()

async function login () {
  try {
    const { doOpenLogin } = await import('src/identity/openlogin')
    await doOpenLogin()
    await router.push('/')
  } catch (err) {
    console.log('login', err)
    alert(JSON.stringify(err))
  }
}
</script>
