<template>
  <q-page class="column items-center p-2">
    <div class="column no-wrap items-stretch w-full max-w-sm">
      <div class="balance-card col-xs-12 col-sm-8 col-md-6 col-lg-4 bg-primary q-pa-md rounded-borders text-white">
        <div class="row justify-between">
          <div class="flex-grow">
            <div class="text-subtitle2">
              Hello {{ 'Manu' }}
            </div>
            <template v-if="true">
              <div class="text-h6">
                <span
                  class="text-weight-regular"
                >
                  Your balance:
                  <CurrencyDisplay :value="Currency((Math.random()*100)-50)" />
                </span>
              </div>
            </template>
          </div>
        <!-- <q-icon
          name="account_balance_wallet"
          class="balance-icon gt-xs self-center"
        /> -->
        </div>
      </div>

      <div class="text-h6 q-mt-lg q-mb-sm text-grey-7">
        <span>{{ 'You owe' }}</span>
      </div>
      <q-list class="row q-col-gutter-md">
        <div
          v-for="debt in debts"
          :key="debt.id"
          class="col-6"
        >
          <q-card
            v-ripple
            class="w-full"
            clickable
          >
            <q-item w:p="2">
              <q-item-section avatar>
                <q-avatar><img src="https://cdn.quasar.dev/img/avatar.png"></q-avatar>
              </q-item-section>
              <q-item-section>
                {{ debt.contact }}
              </q-item-section>
              <q-item-section
                side
                class="leading-none"
                w:text="xl"
              >
                <CurrencyDisplay :value="Currency(debt.amount)" />
              </q-item-section>
            </q-item>
          </q-card>
        </div>
      </q-list>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useDebts } from 'src/stores/debts'
import CurrencyDisplay from 'src/components/util/CurrencyDisplay.vue'
import { Currency } from 'src/utils/CurrencyUtils'

const debts = useDebts()

</script>
