<template>
  <span v-if="value instanceof Currency">
    {{
      // eslint-disable-next-line no-irregular-whitespace
      value.format({ pattern:'#', negativePattern: '- #' })
    }}<span class="superscript">€</span>
  </span>
</template>

<script setup lang="ts">
import { Currency } from 'src/utils/CurrencyUtils'

const props = defineProps<{
  value: Currency,
}>()
console.log('props', props)
</script>
