<template>
  <router-view />
</template>

<script setup lang="ts">
// import 'windi.css' - hot reload only works in postcss mode
import { onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useIdentityStore } from './stores/identity'

const router = useRouter()
const route = useRoute()
const identityStore = useIdentityStore()

// Init user
onMounted(async () => {
  try {
    await identityStore.init()
    const onAuthRoute = route.path.startsWith('/auth')
    if (identityStore.isAuthenticated) {
      if (onAuthRoute) {
        console.log('No need for auth, go home', route.path)
        await router.push('/')
      }
    } else if (!onAuthRoute) {
      console.log('Need auth, redirecting')
      // await router.push('/auth') /* TODO: store original URL? */
    }
  } catch (err) {
    console.error('app init', err)
    alert(JSON.stringify(err))
  }
})
</script>
