<template>
  <q-layout view="lHh lpR lFf">
    <!-- Headers in pages/headers/ -->
    <router-view name="header" />

    <q-page-container>
      <!-- MAIN CONTENT -->
      <router-view />

      <!-- FAB background -->
      <q-inner-loading
        :showing="fab"
        @click="fab = false"
      >
        <template /><!-- remove spinner -->
      </q-inner-loading>

      <!-- Loading overlay -->
      <q-inner-loading :showing="!identityStore.initialized">
        <div>
          <q-spinner-oval
            color="primary"
            size="2em"
          />
          <q-tooltip :offset="[0, 8]">
            Loading app
          </q-tooltip>
        </div>
      </q-inner-loading>
    </q-page-container>

    <q-footer
      class="main-footer bg-white text-primary"
      elevated
      bordered
    >
      <q-toolbar class="justify-center">
        <q-btn-group
          class=""
          flat
          spread
          stretch
        >
          <q-btn
            stack
            label="Personal"
            icon="person"
          />
          <q-fab
            v-model="fab"
            vertical-actions-align="center"
            color="primary"
            icon="add"
            direction="up"
          >
            <q-fab-action
              label-position="right"
              color="primary"
              icon="group_add"
              label="Group"
            />
            <q-fab-action
              label-position="right"
              color="primary"
              icon="person_add"
              label="Contact"
            />
            <q-fab-action
              label-position="right"
              color="primary"
              icon="bookmark_add"
              label="IOU"
              @click="$router.push('/add/iou')"
            />
          </q-fab>
          <q-btn
            stack
            label="Groups"
            icon="group"
          />
        </q-btn-group>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script lang="ts" setup>
import { useIdentityStore } from 'src/stores/identity'
import { ref } from 'vue'

const identityStore = useIdentityStore()

const fab = ref(false)
const leftDrawerOpen = ref(false)
function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>

<style lang="sass">
.main-footer
  .q-fab
    .q-btn
      transform: translateY(-16px)
    // .q-fab__actions
      // margin-bottom: 16px

// Show snackbars above footer
.q-notifications__list--bottom
   bottom: 70px

</style>
